/*---------------------------------------CSS FOOTER---------------------------------------*/ 

/*estilo general del footer*/
footer {
    font-family: 'Qatar2022', Arial, Helvetica, sans-serif;
    font-size: map-get($map: $font-sizes, $key: text);

    /*estilo de los iconos del footer*/
    img {
        width:40px;
        margin-bottom: 0;
    }

    strong {
        font-size: 18px;
    }
}