@import "_variable";
@import "_navbar";
@import "_countdown";
@import "_index";
@import "_calendario";
@import "_historia";
@import "_r2wc";
@import "_footer";
@import "_contactos";

/*---------------------------------------CSS GENERALES---------------------------------------*/ 

@font-face {
    font-family: 'Qatar2022';
    src: url(../fonts/Qatar2022Arabic-Bold.ttf);
}

*{
    box-sizing: border-box;
    margin: 0%;
}

body {
    flex-direction: column;
    width:100vw;
    max-width:100vw;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

