@import url('http://fonts.cdnfonts.com/css/qatar2022');


/*---------------------------------------CSS GENERALES---------------------------------------*/ 

*{
    box-sizing: border-box;
    margin: 0%;
}

body {
    flex-direction: column;
    width:100vw;
    max-width:100vw;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}



/*---------------------------------------CSS HEADERS---------------------------------------*/ 

.logo {
    margin: 0%;
    padding: 0%;
}

.title-logo {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Qatar2022" ,Arial,Helvetica;
    margin: 0%;
    font-size: 1.1vmax;
}

.navbar {
    display: flex;
    width: 100vw;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-image: url(../assets/bgs/bg_nav.jpg);
    background-size: cover;
    font-family: "Qatar2022" ,Arial,Helvetica;
    color: white;
    text-shadow: 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), 
    0 -1px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 
    rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}

.brand-title {
    font-size: 2.7vmax;
    margin: .2rem;
    padding:0px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    height: 100%;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    font-family: "Qatar2022" ,Arial,Helvetica;
    color: white;
    font-family: 'Qatar2022', Arial, Helvetica, sans-serif;
    padding: 1rem;
    
}


  
.navbar-links li a:hover {
    color: gray;
}

.toggle-button {
    position: absolute;
    top: 3vh;
    right: 1vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 19px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
} 

/*---------------------------------------CSS COUNTDOWN---------------------------------------*/ 


/*estilo del contador, incluye los nombres de las selecciones*/
.countdown {
    text-align: center;
    font-family: "Qatar2022" ,Arial,Helvetica;
    background-image: url("../assets/bgs/bg_countdown.jfif");
    background-position-y: center;
    background-size: cover;
    display:grid;
    grid-template-rows:0.3fr 0.3fr 0.3fr;
    grid-template-areas: 
    "titulo"
    "countdown"
    "bandera bandera"
    "pais pais";
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}


/*estilo del titulo del contador*/
.countdown__title {
    text-align: center;
    font-size: 3vmax;
    font-family: "Qatar2022" ,Arial,Helvetica;
    margin:0;
    margin-top:2%;
}

/*estilo del texto del contador*/
#demo {
    margin-top: 1%;
    color:black;
    font-size: 2vmax;
    text-shadow: 2px 0 0 rgb(255, 255, 255), -2px 0 0 rgb(255, 255, 255), 0 2px 0 rgb(255, 255, 255), 0 -2px 0 rgb(255, 255, 255), 2px 2px rgb(255, 255, 255), -2px -2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255), -2px 2px 0 rgb(0, 0, 0);
}

/*estilo del contenedor de las banderas del contador*/
.countdown__banderas {
    display:flex;
    justify-content: center;
}
  

/*estilo de las banderas dentro del countdown*/
.countdown img {
    width:25vw;
    height: 17vw;
    max-width: 210px;
    max-height:140px;
    justify-content: center;

}

/*estilo del contenedor de los nombres de los paises debajo de las banderas*/
.countdown__teams {
    display:flex;
    justify-content:space-evenly;
    margin-bottom: 1%;
}

/*estilo de los nombres de los paises debajo de las banderas del contador*/
.countdown__teams__black1 {
    font-family: "Qatar2022" ,Arial,Helvetica;
    font-size: 2vmax;
}

.countdown__teams__black2 {
    font-family: "Qatar2022" ,Arial,Helvetica;
    font-size: 2vmax;
}

/*estilo de las lineas separadoras*/
hr.solid {
    border: 0.75vmin solid #8A1538;
    background-color: #8A1538;
    opacity: 1;
    margin: 0%;
}


/*---------------------------------------CSS INDEX---------------------------------------*/ 



/*estilo del contenedor del titulo "grupos"*/
.index__titulo__grupos {
    display: flex;
    justify-content: center;
    place-items: center;
}

/*estilo de las decoraciones al costado de donde dice grupos*/
.titulo__decoration {
    width:10vmax;
}

/*estilo del titulo que dice Grupos*/
.grupos {
    font-family: "Qatar2022" ,Arial,Helvetica;
    color:#5d0f26;
    font-size: 3vmax;
    text-align: center;
    margin:10px;
    margin-left: 4%;
    margin-right:4%;
}

/*estilo del fondo detras de las tablas de posiciones*/
#tablas {
    background-image: url(../assets/bgs/bg_grupos.png);
    background-size: cover;
    text-align: center;
    margin: 0px;
}

/*estilo de los textos de los grupos A-H que estan encima de las tablas*/
.table__caption {
    font-family: "Qatar2022" ,Arial,Helvetica;
    text-shadow: 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
    color:white;
    margin:10px;
    font-size: 2.2vmax;
}

/*estilo que separa las tablas con los grupos en 2 grupos de 4*/
.faseGrupos{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

/*estilo de las tablas de posiciones*/
.tabla {
    background-color: white;
    border: 2px solid #5d0f26;
    font-family:"Qatar2022" ,Arial,Helvetica;
    text-align: center;
    border-collapse: collapse;
    font-size: 1.3vmax;
    max-height:30px;
    max-width:276px;
    width:80vw;
}

.tabla td {
    border: black 1px solid;
}

/*estilo que separa las tablas con los grupos en 2 grupos de 4*/
.index__thead {
    background-color: #5d0f26;
    color:white;
    border:black 1px solid;
}

/*estilo de los bordes internos de las tablas*/
td {
    padding:0%;
}

/*estilo de la celda contenedora del nombre del pais y la bandera*/
.td__teamNflag {
    display: flex;
    justify-content:left;
    align-items: center;
    margin:0px;
}

/*estilo de las banderas dentro de las tablas*/
.flag {
    width:20%;
    margin:0;
    padding:0;
    margin-right: 5%;
}

/*estilo del texto acompañando a la bandera dentro de la celda*/
.team {
    padding: 0%;
    margin:0%;
}

/*estilo que agrega el verde a los 2 primeros de cada grupo*/
.clasificados {
    background-color: rgb(92, 209, 56);
}

/*estilo del texto aclaracion debajo de las tablas de grupos*/
.aclaracion {
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin:0px;
    font-size: 1.5vmax;
    font-family:"Qatar2022" ,Arial,Helvetica;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff,
    -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#aclaracion__index {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    font-size: 2vmax;
    text-align: left;
}

/*---------------------------------------CSS FOOTER---------------------------------------*/ 

footer {
    font-family: 'Qatar2022', Arial, Helvetica, sans-serif;
}

footer img {
    width:40px;
    margin-bottom: 0;
}

/*---------------------------------------CSS CALENDARIO---------------------------------------*/ 


/*estilo de la tabla de los partidos con horarios en calendario*/
.horarios {
    background-color: white;
    border-color: #8A1538;
    font-family:"Qatar2022",Arial,Helvetica;
    text-align: center;
    width:85vw;
    margin-left: 7.5%;
    border-collapse: collapse;
    min-width:200px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.calendarios {
    font-family: "Qatar2022" ,Arial,Helvetica;
    color:#5d0f26;
    font-size: 3vmax;
    text-align: center;
    margin:10px;
    margin-left: 4%;
    margin-right:4%;
    background-color: white;
}

.titulo__decoration__calendario {
    max-width: 100px;
    width:9vmax;
    margin: 0%;
}

/*estilo de la seccion que contiene todas las tablas*/
.calendario__table {
    background-image: url(../assets/bgs/bg_grupos.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table__caption__calendario {
    text-align: center;
    margin-top:1%;
    font-family: 'Qatar2022', Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff,
    -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

/*estilo para el texto de fecha encima de las tablas enindicando la fecha en calendario*/
.fechaPartido {
    background-color: black;
    color:white;
    font-size: 2vmax;
}

/*estilo de las celdas que contienen los horarios de los partidosen calendario*/
.horario {
    background-color: #5d0f26;
    color:white;
    font-size: 1.5vmax;
}

.horarios td {
    border: black 1px solid;
}

/*estilo del contenedor en las celdas que contienen los equipo a la izquierda*/
.calendario__td__local {
    display: flex;
    justify-content: right;
    align-items: center;
}

/*estilo del contenedor en las celdas que contienen los equipo a la derecha*/
.calendario__td__visitante {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
}

/*estilo de la bandera en la celda del equipo a la izquierda*/
.calendario__flag__local {
    width:20%;
    padding: 0%;
}

/*estilo de la bandera en la celda del equipo a la derecha*/
.calendario__flag__visitante {
    width:20%;
    padding: 0%;
}

/*estilo del texto en la celda del equipo a la izquierda*/
.calendario__team__local {
    margin: 0;
    padding-right: 2%;
    font-size: 1.4vmax;
}

/*estilo del texto en la celda del equipo a la derecha*/
.calendario__team__visitante {
    margin: 0;
    padding-left: 2%;
    font-size: 1.4vmax;
}

/*estilo de las celdas entre equipo y equipo que indican el resultado del partido*/
.calendario__resultado {
    width: 6%;
}


/*---------------------------------------CSS R2WC---------------------------------------*/


.camino__mundial {
    font-family: "Qatar2022" ,Arial,Helvetica;
    color:#5d0f26;
    font-size: 2.5vmax;
    margin:1%;
    text-align: center;
    margin-left: 4%;
    margin-right:4%;
    background-color: white;
}

.titulo__decoration__r2wc {
    width:7vmax;
}

/*estilo de la seccion con los links a las distintas eliminatorias*/
#section__list__eliminatorias {
    background-image: url(../assets/bgs/bg_flags.jpg);
    background-position-y: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

/*estilo de la seccion con las tablas de las distintas eliminatorias*/
.eliminatoria__tablas {
    background-image: url(../assets/bgs/bg_grupos.png);
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*estilo del titulo de cada eliminatoria*/
.eliminatoria__tabla__titulo {
    margin-top:5%;
    margin-bottom:5%;
    font-family:"Qatar2022" ,Arial,Helvetica;
    color: white;
    font-size: 3vmax;
    text-shadow: 1px 0 0 black, 0 0 black, 0 1px 0 black, 0 -1px 0 black,
    1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    
}

/*estilo para las tablas en r2wc e historia*/
.tablaEliminatorias {
    background-color: white;
    border: 2px solid #5d0f26;
    font-family:"Qatar2022" ,Arial,Helvetica;
    text-align: center;
    border-collapse: collapse;
    font-size: 2vmax;
    min-width:225px;
    width:25vw;
    margin-bottom: 3%;
    min-height: 260px;
}

.tablaEliminatorias td {
    border:1px solid black;
}

#elimAmerica {
    width:50vw;
    font-size: 2vmax;
}

.eliminatoria__tablas__thead {
    font-size: 2vmax;
}


/*estilo los titulos encima de las tablas de posiciones de cada continente en r2wc*/
.titulosEliminatorias {
    font-size: 2vmax;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    color: #5d0f26;
    font-family:"Qatar2022" ,Arial,Helvetica;
    text-align: center;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    text-decoration: none;
}

.partidos__r2wc {
    background-color: white;
    border-color: #8A1538;
    font-family:"Qatar2022",Arial,Helvetica;
    text-align: center;
    width:85vw;
    margin-left: 7,5vw;
    border-collapse: collapse;
    min-width:200px;
    font-size: vmax;
    margin-top: 2%;
    margin-bottom: 2%;
    min-height: 40px;
}

.partidos__r2wc td {
    font-size: 1.2vmax;
    border:1px solid black;
}

.partido__r2wc {
    background-color: black;
    color:white;
    font-size:1.2vmax;
}

/*estilo de la celda con el estado del partido postergado*/
.postergado {
    background-color: green;
    width:8%;
    font-size: 1.5vmax;
}

/*estilo de la celda con el estado del partido finalizado*/
.finalizado {
    background-color: gray;
    width:8%;
    font-size: 1.5vmax;
}

/*estilo de la celda con el estado del partido suspendido*/
.suspendido {
    background-color:red;
    color:white;
    width:8%;
    font-size: 1.5vmax;
}




/*estilo para marcar a los equipos que debieron jugar repechaje en*/
.repechaje {
    background-color: #d5ff04;
}

/*estilo para los textos explicando como funciona cada eliminatoria debajo de las tablas*/
.r2wc__aclaracion {
    font-family: 'Qatar2022',Arial, Helvetica, sans-serif;
    font-size: 1.5vmax;
    max-width: 100%;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

/*estilo los thead de cada tabla de posiciones*/
.eliminatoria__tablas__thead {
    background-color: #5d0f26;
    color:white;
    border: 2px solid black;
}

/*estilo para el contenedor de aquellas eliminatorias con mas de una tabla en ellas*/
.r2wc__multiplesGrupos {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}



/*---------------------------------------CSS HISTORIA---------------------------------------*/ 


.body__historia {
    background-image: url(../assets/bgs/bg_grupos.png);
    background-size: cover;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

.tabla__imagen__historia {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

.titulo__historia {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*estilo de las decoraciones al costado de donde dice grupos*/
.titulo__decoration__historia {
    width:8vmax;
}

.tablaHistoria thead {
    background-color: #5d0f26;
    color:white;
    border: black solid 2px;
}

.tablaHistoria {
    background-color: white;
    border: 2px solid #5d0f26;
    font-family:"Qatar2022" ,Arial,Helvetica;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 1,5vmax;
    min-width:220px;
    width:80vw;
    margin-bottom: 3%;
}

.tablaHistoria td {
    border: 1px solid black;
}

/*---------------------------------------CSS CONTACTOS---------------------------------------*/ 


/*estilo para la seccion contenedora del cuestionario*/
.main__contactos {
    background-size:cover;
    background-image: url(../assets/bgs/bg_grupos.png);
    display:grid;
    justify-content: center;
}

/*estilo del formulario en Contacto*/
.formulario {
    display: flex;
    max-width:90%;
    flex-direction: column;
    align-items: center;
    font-family:"Qatar2022" ,Arial,Helvetica;
    min-width: 250px;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

/*estilo para el titulo del fieldset*/
legend {
    font-size: 2em;
}

.formulario__h2 {
    font-family:"Qatar2022" ,Arial,Helvetica;
    margin-top: 2%;
    margin-bottom:2%;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.formulario p {
    margin-top:2%;
    margin-bottom: 2%;
}

/*estilo para el fieldset contenedor de los inputs*/
fieldset {
    border-radius: 20px;
    border:white 4px solid;
}

/*estilo para el contenedor del texto y las opciones para elegir */
.form__sexo {
    display: flex;
    align-items: baseline;
}


/*estilo para las opciones al elegir sexo*/
.form__sexo__input {
    font-family: "Qatar2022",Arial, Helvetica, sans-serif;
}

/*estilo para los botones de enviar e eliminar dastos*/
.contactos__form__button{
    margin-left: 5px;
    margin-right:5px;
    width: 20%;
    height:40px;
    font-size: 1.2vmax;
    font-family: "Qatar2022",Arial, Helvetica, sans-serif;
}

/*estilo para el texbox para el mensaje en consultas*/
#mensaje {
    width: 40%;
    min-width:200px;
    height: 200px;
    overflow:auto;
    text-align: left;
}   

/*TODO: cambiar font-size a rem (1rem=16px)*/
/*TODO: check camelcasing*/
/*TODO: renombrar clases en base a REM*/
/*TODO: cambiar heights a vh*/
/*TODO: add box-sizing*/
/*TODO: adaptar el CSS a flexbox*/